<form class="form" padding (ngSubmit)="submitUsuario()" [formGroup]="usuarioForm">

    <h2>{{ tituloPag }}</h2>

    <ion-item>
        <ion-label position="floating">Nome:</ion-label>
        <ion-input type="text" required formControlName="nome" placeholder="Insira o nome"></ion-input>
    </ion-item>
    <div *ngIf="usuarioForm.controls.nome.hasError('required') && submitted" class="hasError">
        Nome é obrigatório
    </div>

    <ion-item>
        <ion-label position="floating">Usuário:</ion-label>
        <ion-input type="text" required formControlName="usuario" placeholder="Insira o usuário"></ion-input>
    </ion-item>
    <div *ngIf="usuarioForm.controls.nome.hasError('required') && submitted" class="hasError">
        Usuário é obrigatório
    </div>

    <ion-item>
        <ion-label position="floating">Senha:</ion-label>
        <ion-input type="password" required formControlName="senha" placeholder="Insira a senha"></ion-input>
    </ion-item>
    <div *ngIf="usuarioForm.controls.senha.hasError('required') && submitted" class="hasError">
        Senha é obrigatório
    </div>

    <div padding>
        <ion-button type="submit">Salvar</ion-button>
        <ion-button type="button" color="danger" *ngIf="btnExcluir" (click)="deletarUsuario()">Excluir</ion-button>
    </div>

</form>